
<h2>Series</h2>
<div *ngIf="series.length==0">
  <label >{{errorText}}</label>
  <button *ngIf="errorText!=''" type="button" id="detail" class="btn btn-primary" (mouseover)="errorMessage = errorTextDev" (mouseout)="errorMessage = undefined">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question" viewBox="0 0 16 16">
        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
    </svg>
</button>
<label>{{errorMessage}}</label>      
</div>
<div class="table-responsive" *ngIf="series.length>0">
  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th  *ngIf="selectModeFromParent">
          <input id="checkbox" type="checkbox"  value={{mainCheckBox}} (change)="onMainCheckBoxChange($event)" [ngModel]="mainCheckBox"></th>
        <th>
          <button class="col-md-1" type="button" class="btn btn-primary" disabled>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
              <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
            </svg>
            </button>
        </th>
        <th class="col-md-2">Series Instance UID</th>
        <th class="col-md-2">Series Number</th>
        <th class="col-md-2">Study UID</th>
      </tr>
    </thead>
<tbody>
    <tr *ngFor='let serie of getSeries(clickedStudy)' >
      <td   *ngIf="selectModeFromParent">
        <input id={{serie.seriesInstanceUID}} type="checkbox" value={{serie.selected}} [ngModel]="serie.selected" (change)="onCheckBoxChange($event)">
      </td>
      <td class="col-md-1">
        <button class="col-md-1" type="button" class="btn btn-primary" (click)="showImage(serie.seriesInstanceUID,serie.studyUID)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
          <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
          <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
        </svg>
      </button>
      </td>
      <td class="col-md-2">{{serie.seriesInstanceUID}}</td>
      <td class="col-md-2">{{serie.seriesNumber}}</td>
      <td class="col-md-2">{{serie.studyUID}}</td>
    </tr>
  </tbody>
</table></div>
<label *ngIf="series.length==0">{{helperText}}</label>